<header>
    <%- include("../views/partials/header", {title:'Hi Bookie!'})-%>
</header>
<body>
    <%- include("../views/partials/navbar") %> 

    <ul>
        <h1>All the users:</h1>
        <% userData.forEach(function(user) { %>
            <li>
                <a href="/users/user-profile/<%= user.username %>">
                <%= user.username %> </a>
                
            </li>
    <%}); %> 
    </ul>
</body>
<footer >
    <%- include("../views/partials/footer")-%>
</footer>
</html>