<header>
    <%- include("../views/partials/header", {title:'Hi Bookie!'})-%>
</header>
<body>
    <%- include("../views/partials/navbar") %>  

    <% userData.forEach(function(user){ %> 
        <h3><%= user.username %> </h3>
        <% if(user.fullname){ %> 
            <h5><%= user.fullname %> Kullanıcısının Profili</h5>
        <% }else{ %>
            <h5>Kullanıcı Profili</h5>
        <% } %> 
    <%}); %>
</body>
<footer >
    <%- include("../views/partials/footer")-%>
</footer>
</html>